@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');

* {
    font-family: 'Inconsolata', monospace;
    color: #696969;
}

& p {
  position: relative;
  left: 42px;

  font-size: x-large;
  white-space: pre;
}

& p > code {
  color:  rgb(230, 145, 56);
  font-size: xxx-large;
  background-color: rgb(252, 229, 205);
}
